$changecolour: #556e4e;

p:nth-child(3n+0) {
    background-color: $changecolour;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

#ScssSection01 {
  border: 1px solid black;
  @include hover {
    border-width: 2px;
  }
}
